body{
	background-color: #ff6666;
}
.modal-head{
	background-color: #ff6666;
	color: white;
	font-size: 36px;
	font-family: Calibri;
	text-align: left;
}
.close{
	text-align: right;
}
.close:hover{
	color: grey;
}
.modal-title{
	color: white;
}
.modal{
	margin: 300px 400px;
	display:block; 
	background-color: white;
	
}